Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  performance-*,
  -performance-type-promotion-in-math-fn,
  readability-*,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-redundant-casting,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  cert-err58-cpp,
  modernize-*,
  -modernize-deprecated-headers,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: '^(src/|include/|lib/|test/)'
FormatStyle: none
